body {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.nextTo{
    display: flex;
    gap: 2rem
}
@media screen and (max-width:1500px) {
    .nextTo{
        display: flex;
        flex-direction: column;
    }
}

.cleanLink {
    color: black;
    text-decoration: none;
}

.title {
    background: blueviolet;
    color: white;
}

.button{
    color: black;
    background: aqua;
    font-size: 30px;
}

.buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header{
    font-family: "Comic Sans MS", serif;
}

table, th, td {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

th{
    width: 300px;
}
img{
    max-width: 100%;
    width: 1000px;
    align-self: center;
}


@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white;
    }
    .cleanLink{
        color: white;
    }
}